

header {
    background-color: rgb(39, 41, 218);
    height: 25rem;
    display: flex;
    border-bottom: 3px solid black;
}

.inputArea{
    display: flex;
    margin-top: 10px;
}

#descricao  {
    width: 300px;
    height: 120px;
}

.btn {
    width: 200px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 12rem;
}

.card {
    width: 350px;
    margin: 10px;
    box-shadow: 0 3px 6px hsl(0deg 0% 50% / 28%);
}

.card-body{
    box-shadow: 0 3px 6px hsl(0deg 0% 50% / 28%);
}

.menu{
    display: flex;
    flex-direction: column;
    margin: 20px;
}