body {
  background-color: #1f1f1f;
}
.btn-novidade {
  display: flex;
  align-self: center;
}

.detalhesNovidade {
  padding: 5rem;
}

.logos {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.logos:hover {
  background-color: #e5e5e5;
}

.logo {
  width: 75px;
  height: 75px;
}

.marcas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  height: 100px;
  width: 100%;
}

.imgLayer {
  margin-top: 5rem;
  height: auto;
  width: 100%;
}

.titleImg {
  height: auto;
  width: 100%;
}

.carousel-caption {
  background-color: rgba(12, 12, 12, 0.6);
  justify-content: center;
  flex-direction: column;
}
.item {
  align-self: center;
  color: white;
  align-items: flex-start;
}

.h1-carousel {
  color: white;
}

p {
  color: white;
}

.btnItem {
  align-self: center;
  margin: 5px;
  border: none;
}

.btn-novidade {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.ultimaNovidade {
  /* padding-top: 5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}

.tituloNovidade {
  color: white;
}

.subtituloNovidade {
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.753);
}
.subtituloTitulo {
  width: auto;
  color: white;
}

.detalhesDestaque {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url("https://cdn.wallpapersafari.com/82/90/zjlyU9.jpg");
}

.detalhesDestaque-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#botao-format {
  display: inline-block;
  text-align: right;
}

.destaque {
  display: flex;
  flex-direction: column;
}
.tituloDestaque {
  font-size: 32px;
}
.subtituloDestaque,
.tituloDestaque {
  margin-top: 1rem;
  color: #212f3c;
}

.btn-divnov {
  align-self: flex-start;
}
.btn-divdtk {
  align-self: flex-end;
}

footer {
  box-shadow: 0 3px 6px hsl(0deg 0% 50% / 28%);
  background-color: #1b2631;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.resume {
  width: 300px;
  text-align: justify;
}

.fs-5 {
  color: white;
}

.footer-h5 {
  color: white;
}

.list {
  display: flex;
  flex-direction: row;
}

.itemList {
  margin-right: 100px;
}

.cabecalho {
  background-color: #1f1f1f;
  position: fixed;
  height: 5rem;
}
.nav-link {
  color: #fff !important;
  text-decoration: none;
  font-size: 22px;
  margin-right: 15px;
}
#xeroso {
  color: white;
  font-family: "Releway";
  font-size: 26px;
}
.logo-home {
  height: 3rem;
}

.modal-title {
  color: black;
}

.btn-icon {
  display: flex;
  background-color: #1f1f1f;
  border: 0;
  margin-top: 1rem;
  margin-right: 2rem;
  position: fixed;
  z-index: 1;
}

.header-compras {
  width: 100%;
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0);
}

.btn-icon:hover {
  background-color: #1f1f1f;
}

.cards-area {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.card {
  background-color: #1f1f1f;
  border: 2px solid white;
  margin: 5px;
  width: 300px;
}

.card-title {
  color: white;
}
